@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/*
@charset "UTF-8";@font-face {
    font-display: swap;
    font-family: theme-font;
    font-style: normal;
    font-weight: 400;
    src: url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Regular.woff") format("woff"),url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Regular.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: theme-font;
    font-style: normal;
    font-weight: 300;
    src: url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNewBook-Regular.woff") format("woff"),url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNewBook-Regular.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: theme-font;
    font-style: normal;
    font-weight: 700;
    src: url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Bold.woff") format("woff"),url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Bold.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: theme-font;
    font-style: normal;
    font-weight: 800;
    src: url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Black.woff") format("woff"),url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Black.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: scandinavian-serif;
    font-style: italic;
    font-weight: 500;
    src: url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianSerif-MediumItalic.woff") format("woff"),url("https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianSerif-MediumItalic.woff2") format("woff2")

}
*/
