* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    background: linear-gradient(45deg, #1b1668, #9f59ef, #fdd5ef);
    margin: 5px;
}

#body-darker {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#card {
    width: 40vw;
    aspect-ratio: 16 / 9;
    max-height: 45%;
    background-color: rgba(50, 50, 50, 0.8);
    background: linear-gradient(45deg, #222222, #444444);
    border: 3px rgba(0, 0, 0, 0.25) solid;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 7px 14px 0px rgba(0, 0, 0, 0.5);
}

#card-name {
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    background: #000000;
    background: linear-gradient(to bottom, #5b59ef 50%, #9f59ef 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#card-pronouns {
    position: absolute;
    top: calc(5vw + 5px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    background: #9f59ef;
    background: linear-gradient(to bottom, #9f59ef 60%, #caa3ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#data {
    position: relative;
    top: 24%;
    height: 32.5vh;
    display: grid;
    place-items: center;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 250px;
}

.icon{
    display: inline-block;
    max-height: 25vh;
    max-width: 25vw;
    aspect-ratio: 1 / 1;
    text-align: center;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.button, .wrapper {
    display: block;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button span{
    background: #9f59ef;
    background: linear-gradient(to left, #9f59ef 60%, #caa3ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}