* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    background: linear-gradient(45deg, #1b1668, #9f59ef, #fdd5ef);
    margin: 5px;
}

#body-darker {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#card {
    width: 45rem;
    height: 25rem;
    background-color: rgba(50, 50, 50, 0.8);
    background: linear-gradient(45deg, #222222, #444444);
    border: 3px rgba(0, 0, 0, 0.25) solid;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 7px 14px 0px rgba(0, 0, 0, 0.5);
}

#card-name {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background: #000000;
    background: linear-gradient(to bottom, #5b59ef 50%, #9f59ef 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#card-pronouns {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.125rem;
    background: #9f59ef;
    background: linear-gradient(to bottom, #9f59ef 60%, #caa3ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
