* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightskyblue;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 90%;
    left: 5%;
    width: 90%;
    aspect-ratio: 16/10;
    z-index: 10;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgba(107, 107, 107, 0.5);

}
