* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - max(20vw, 20vh) - 5px);
    z-index: 10;
    background-color: darkgray;
}

#info {
    position: absolute;
    top: -3px;
    right: 0;
    height: calc(100% + 4px);
    width: calc(max(20vw, 20vh) + 5px);
    z-index: 100;
    background-color: lightgray;
    border-radius: max(0.5vw, 0.5vh);
    overflow: hidden;
}

#info h1 {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}